# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore other unneeded files.
database.yml
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret
.keep

# Test files
app/views/events/_event.html.erb
app/views/events/create.js.erb
app/views/events/index.html.erb
public/assets/test.js
public/test.html

