#grid {
  margin-top: 30px;
}

.alert-alert {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.alert-notice {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
  font-weight: 300;
}



p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* forms */

input, textarea, select, .uneditable-input {
  //border: 1px solid #bbb;
  //width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}
